#header__logo {
  background-image: url(/src/assets/icons/google_logo.svg);
  height: 92px;
  width: 272px;
}
#header__logo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 168px;
  margin-bottom: 38px;
}
